[submodule "Bamboo"]
	path = bamboo
	url = https://github.com/Olszewski-Jakub/Bamboo.git
[submodule "Panda"]
	path = panda
	url = https://github.com/Olszewski-Jakub/Panda.git
[submodule "Crowdeo-Dashboard"]
	path = Crowdeo-Dashboard
	url = https://github.com/Olszewski-Jakub/Crowdeo-Dashboard.git
